
*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }

/*Classes auxiliares*/
.float{float:left;}

.floatRigth{float: right;;}

.w100{width: 100%;}

.h40{height: 40px;}

.center{text-align: center;}

.inlineBlock{display: inline-block;}

.block{display: block;}

.topFaixa{height: 50px; font-weight: bold;}

a{text-decoration: none; color: #1d68ca;}

input[type=email],input[type=password], input[type=text]{float:left;width:100%;height:40px;margin:15px 0;border:1px solid #bbb;border-radius:8px;font-size:16px;padding:0 10px}

input[type=submit]{width:40%;height:40px;background:#215832;font-weight:700;color:#fff;border-radius:8px;cursor:pointer}

input[type=submit]:hover{opacity:0.8}

.fundo{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/login_bg_L.jpg) center center no-repeat;background-size:cover}

.login{position:absolute;width:28%;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);background:#fff;padding:30px}

.loginFormulario{float:left;width:100%}

.loginTextos{float:left;width:60%;line-height:40px;font-weight: bold;}

.logomarca-login{float:left;width:100%;text-align:center;height:40px}

.esqueci-senha{float:left;width:100%;height:40px;font-size:100%}

.cadastro{ 
    
    width: 30%; 
    
    margin: 15px 35%; 
 

}





/*Extra-small*/
@media screen and (max-width: 480px)
{
    input[type=submit]{width:35%;height:40px;background:#215832;font-weight:700;color:#fff;border-radius:8px;cursor:pointer}

    

.fundo{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/login_bg_XS.jpg) center center no-repeat;background-size:cover}

.login{position:absolute;width:90%;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);background:#fff;padding:30px}


.loginTextos{float:left;width:65%;line-height:40px;font-weight: bold;}

.esqueci-senha{float:left;width:100%;height:40px;font-size:86%}

.cadastro{ width: 80%; margin: 15px 10%; }

.loginTextos{font-size:75%}
}
/*Small*/
@media screen and (min-width: 481px) and (max-width: 768px)
{

    input[type=submit]
    {width:45%;
        
        height:40px;background:#215832;font-weight:700;color:#fff;border-radius:8px;cursor:pointer}
    
    

.fundo{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/login_bg_S.jpg) center center no-repeat;background-size:cover}

.login{position:absolute;width:70%;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);background:#fff;padding:30px}


.loginTextos{float:left;width:55%;line-height:40px;font-weight: bold;}

.esqueci-senha{float:left;width:100%;height:40px;font-size:88%}

.cadastro{ width: 60%; margin: 15px 19%;}

.loginTextos{font-size:80%}
}


/*Medium*/
@media screen and (min-width: 769px) and (max-width: 1199px)
{

    input[type=submit]{width:33%;height:40px;background:#215832;font-weight:700;color:#fff;border-radius:8px;cursor:pointer}

    

.fundo{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/login_bg_M.jpg) center center no-repeat;background-size:cover}

.login{position:absolute;width:45%;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);background:#fff;padding:30px}

.loginTextos{float:left;width:67%;line-height:40px;font-weight: bold;}

.esqueci-senha{float:left;width:100%;height:40px;font-size:99%;}

.cadastro{ width: 35%; margin: 15px 33%; }

.loginTextos{font-size:90%}

}

/*Large*/
@media screen and (min-width: 1200px) 
{

}